@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --basebg: #1e1f21
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    background-color: var(--basebg, #1e1f21);

    flex-direction: column;
    gap: 40px;
}
/*.btn {
    display:inline-block;
    text-decoration: none;
    color: #fff;
    position: relative;

    font-size: 1rem;
    padding: 1em 3em;
    border-radius: .300em;

    background-color: #040000;
}
.btn::after {
    content: '';
    z-index: -1;
    position: absolute;
    top: -0.125em;
    left: -0.125em;

    width: calc(100% + 0.25em);
    height: calc(100% + 0.25em);
    background-image: linear-gradient(45deg,#206de3, #2c0cdf, #2a42f7, #0d61de, #0095ff, #2c0cdf);
    background-size: 200%;

    border-radius: 0.25em;
    animation: animatebg 3s ease infinite paused;
}
.btn:hover::after {
    animation-play-state: running;
}
@keyframes animatebg {
    0% {
        background-position: 0;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0;
    }
}
.btn-tox {
    display:inline-block;
    text-decoration: none;
    color: #fff;
    position: relative;

    font-size: 1rem;
    padding: 1em 3em;
    border-radius: .300em;

    background-color: #040000;
}
.btn-tox::after {
    content: '';
    z-index: -1;
    position: absolute;
    top: -0.125em;
    left: -0.125em;

    width: calc(100% + 0.25em);
    height: calc(100% + 0.25em);
    background-image: linear-gradient(45deg,#ee3535, #7d0d0d, #ff0000, #ee8686, #9a3333, #df0c0c);
    background-size: 200%;

    border-radius: 0.25em;
    animation: animatebg 3s ease infinite paused;
}
.btn-tox:hover::after {
    animation-play-state: running;
}
 */
.privet {
    color:#81d4fa;
}
h3 {
    color:#0095ff;
}
h4 {
    color: #0677cc;
}

.info {
    color:#0095ff;
    font-family: sans-serif;
}
.tox {
    color: #df0e0e;
}
.toxx {
    color: #b22e2e;
}

a
{
    position: relative;
    background: #fff;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}
a:hover
{
    background: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}

.chats-btn {
    background: #8a7272;
}